.admin-main {
    margin-top: 80px;
    display: flex;
}

/* SIDEBAR CSS */
.sidebar {
    margin: -10px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 20%;
    height: 100vh;
    box-shadow: 6px 8px 11px #cfcfcf66;
}

.sidebar ul li{
    list-style: none;
    padding: 20px 0px;
}